<div class="hero-unit">
  <% if @user %>
    <h1>
      <%= image_tag(@user.image, :size => "150x150") %>
      <%= "#{@user.nickname}'s books" %>
    </h1>
  <% else %>
    <h1><%= "All books" %></h1>
  <% end %>
</div>

<div class="row-fluid">
  <div class="span3">
    <%= link_to "Let's keep your book in a bookshelf", new_book_path, :class => "btn" %>
  </div>
</div>
<br />

<% @books.each_slice(4).each do |fourbooks| %>
  <div class="row-fluid">
    <% fourbooks.each do |book| %>
      <div class="span3">
        <div class="hero-unit">
          <h3><%= link_to book.isbn, book %></h3><br />
          <% if @current_user_books.include? book %>
            <%= link_to('I lost it.', bookmarks_path(:book_id => book.id), :method => :delete, :class => "btn-danger") %>
          <% else %>
            <%= link_to('I have it!', bookmarks_path(:book_id => book.id), :method => :post, :class => "btn-success") %>
          <% end %><br />
          <% book.users.sample(5).each do |user| %>
            <%= link_to image_tag(user.image, :size => "20x20"), books_path(:user_id => user.id) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
