<div class="row-fluid">
  <div class="span3">
    <div class="thumbnail">
      <%= image_tag @book.image_url %>
    </div>
  </div>

  <div class="span9">
    <div class="well">
      <h1><%= simple_format @book.title %></h1>
    </div>
    <% if @current_user_books.include? @book %>
      <%= button_to('I lost it.', bookmarks_path(:book_id => @book.id), :method => :delete, :class => "btn-danger") %>
    <% else %>
      <%= button_to('I have it!', bookmarks_path(:book_id => @book.id), :method => :post, :class => "btn-success") %>
    <% end %>
    <h3><%= simple_format @book.author %></h3>
    <h3><%= simple_format @book.label %></h3>
    <h3><%= simple_format @book.formatted_price %></h3>
    <h3><%= link_to "Amazon", @book.detail_page_url, :target=>["_blank"] %></h3>
  </div>
</div>

<br />

<div class="row-fluid">
  <div class="span8">
      <p>Comments</p>
  </div>

  <div class="span4">
    <div class="well">
      <p>friends with this book</p>
      <% @users.each do |user| %>
        <%= link_to image_tag(user.image, :size => "50x50"), books_path(:user_id => user.id) %>
      <% end %>
    </div>
  </div>
</div>
