<div class="row-fluid">
  <div class="span3">
    <div class="thumbnail">
      <div class="books" id="<%= @book.id %>" title="image_url"></div>
    </div>
  </div>

  <div class="span9">
    <div class="well">
      <h1><div class="books" id="<%= @book.id %>" title="title"></div></h1>
    </div>
    <% if @current_user_books.include? @book %>
      <%= button_to('I lost it.', bookmarks_path(:book_id => @book.id), :method => :delete, :class => "btn-danger") %>
    <% else %>
      <%= button_to('I have it!', bookmarks_path(:book_id => @book.id), :method => :post, :class => "btn-success") %>
    <% end %>
    <h3><div class="books" id="<%= @book.id %>" title="author"></div></h3>
    <h3><div class="books" id="<%= @book.id %>" title="label"></div></h3>
    <h3><div class="books" id="<%= @book.id %>" title="formatted_price"></div></h3>
    <h3><div class="books" id="<%= @book.id %>" title="detail_page_url"></div></h3>
  </div>
</div>

<br />

<div class="row-fluid">
  <div class="span8">
      <p>Comments</p>
  </div>

  <div class="span4">
    <div class="well">
      <p>friends with this book</p>
      <% @users.each do |user| %>
        <%= link_to image_tag(user.image, :size => "50x50"), books_path(:user_id => user.id) %>
      <% end %>
    </div>
  </div>
</div>
